h4 {
  text-align: left;
  margin-bottom: 0.4rem;
  text-transform: capitalize;
}
.item-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 0 2.4em 0;
}
.swatch-container {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
}
.swatch {
  filter: none;
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: 95%;
  margin: auto;
  height: 62px;
  width: 62px;
  border-radius: 6px;
  cursor: pointer;
}
.swatchBg {
  display: flex;
  border-radius: 6px;
  margin: 4px;
}
.swatchBg:active {
  transform: scale(98%);
  border: 2px #969696 solid;
}
